
@{
    ViewBag.Title = "Timesheet";
}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js'></script>
<div id='calendar'></div>
<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...
       
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            header: {
                left:'title',
                right: 'prev,next,month,basicWeek'
            },
            editable: true,
            events: [
           {
               title: 'PRCM - 8 - Hours',
               start: '2016-08-01',
               editable: true
           },

           {
               title: 'PRCM - 8 - Hours',
               start: '2016-08-02'
           
           }
            ],

            eventClick: function(calEvent, jsEvent, view) {
            alert( calEvent.title);
                // change the border color just for fun
        }

        });
    
    })

    </script>